<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header class="jaum-header">
        <nav class="jaum-header-nav">
            <a href="#" class="brand">Jaum.lu</a>
            <div 
                class="language"
                id="el-language"
            >
                <img 
                    src="../images/reino-unido.png" 
                    id="el-language-preview"
                >
                <i class="fa-solid fa-language"></i>
            </div>
            <div 
                class="choose-language active"
                id="el-choose-language"
            >
                <div class="language-wrap">
                    <div 
                        class="language-option active"
                        id="el-language-option-english"
                    >
                        English
                        <img src="../images/reino-unido.png" alt="english-language">
                    </div>
                    <div 
                        class="language-option"
                        id="el-language-option-ptbr"    
                    >
                        Brazilian portuguese
                        <img src="../images/brasil.png" alt="br-language">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main 
        class="jaum-main"
        id="el-main"
    >
        <section class="jaum-main-home">

        </section>
    </main>
    <script 
        src="../main.js"
        type="module"
    ></script>
</body>
</html>